@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --base-color: #1b1b1b;
  --accent-color:rgb(255, 109, 51);
  --text-color:white;
  --light-grey:#808080;
  --second0-dark:#292929;
}

.fit-height-mobile {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

body {
  background-color: var(--base-color);
  font-family: "Poppins";
  color: var(--text-color);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stage {
  min-height: 100%;
  min-width: 100%;
}

.stage-hide {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 0;
  padding: 0;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.prompt h1 {
  position: relative;
  margin: 0;
  padding: 1%;
  text-align: center;
  top: 0;
}

.card {
  background-color: var(--light-grey);
  color: black;
  min-width: 1.4em;
  border-radius: 2em;
  padding: 5%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
}

.card p {
  text-align: center;
  font-size: 200%;
  margin: 0 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.card:focus {
  background-color: var(--accent-color);
  outline: none;
}

.card input {
  display: none;
}

.card-suite {
  background-color: var(--light-grey);
  color: black;
  min-height: 40vh;
  width: 100%;
  border-radius: 2em;
  padding: 1% 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 1%;
}

.card-suite p {
  position: flex;
  height: 40vh;
  font-size: 300%;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.card-suite:focus {
  background-color: var(--accent-color);
  outline: none;
}

.card-suite input {
  display: none;
}

.hide {
  display: none;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.next-button {
  background-color: var(--second0-dark);
  position: fixed;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  bottom: .8em;
  right: .5em;
  padding: 4%;
  border-radius: 1em;
  margin: 0;
  text-align: center;
  color: white;
  min-width: 0.3vw;
}

.back-button {
  background-color: var(--second0-dark);
  position: fixed;
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
  bottom: .8em;
  left: 1.8em;
  padding: 4%;
  border-radius: 1em;
  margin: 0;
  text-align: center;
  color: white;
  min-width: 0.3vw;
}
/*# sourceMappingURL=basic.css.map */