@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

//define common values
:root {
    --base-color: rgb(240,180,160);
    --accent-color: rgb(222, 105, 67);
}

body {
    background-color: var(--base-color);
    font-family: "Poppins";

    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
}

.stage {
    min-height: 100%;
    min-width: 100%;
    // align-items: center;
}

.stage-hide{
    display:none;
}

.container {
    display:flex;
    flex-wrap: wrap;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    // flex-flow: column;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

.flex-col {
    flex-direction: column;
    justify-content: space-evenly;
}

.prompt {
    h1 {
        position: relative;
        margin: 0;
        padding: 1%;
        text-align: center;
        top: 0;
    }
}

.card {
    background-color: white;
    min-width:1.4em;
    border-radius: 2em;
    padding: 5%;
    text-align: center;
    align-items: center;
    margin: 1%;

    p {
        text-align: center;
        font-size: 200%;
        margin: 0 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    &:focus {
        background-color:var(--accent-color);
        outline:none; //remove outline when focus
    }

    //To hide radio button
    input{
        display:none;
    }

}



.card-suite {
    background-color: white;
    min-height: 40vh;
    width: 100%;
    border-radius: 2em;
    padding: 1% 0;
    text-align: center;
    align-items: center;
    margin: 1% 1%;

    p {
        position:flex;
        height:40vh;
        font-size: 300%;
        align-content: space-around;
    }

    &:focus {
        background-color:var(--accent-color);
        outline:none; //remove outline when focus
    }

    //To hide radio button
    input{
        // display: contents; 
    }
}

.hide{
    display:none;
}

.center {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 0;
}

p{
    margin:0;
    padding:0;
}

.next-button {
    background-color: grey;
    position: fixed;
    transform: translate(-100%, -100%);
    //to move anchor point to bottom right
    bottom: .8em;
    right: .5em;
    padding: 4%;
    border-radius: 1em;
    margin:0;
    text-align: center;
    color: white;

    min-width:0.3vw;
}

.back-button {
    background-color: grey;
    position: fixed;
    transform: translate(+50%, -100%);
    //to move anchor point to bottom left
    bottom: .8em;
    left: 1.8em;
    padding: 4%;
    border-radius: 1em;
    margin:0;
    text-align: center;
    color: white;

    min-width:0.3vw;
}

