@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {

    background-color: lightgray;
    font-family: "Poppins";

    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
}

.stage {
    min-height: 100%;
    min-width: 100%;
    // align-items: center;
}

.stage-hide{
    display:none;
}

.container {
    display:flex;
    flex-wrap: wrap;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 0;
}

.prompt {
    h1 {
        position: relative;
        margin: 0;
        padding: 1%;
        text-align: center;
        top: 0;
    }
}

.card {
    background-color: white;
    // min-height: 40vh;
    // width: 100%;
    border-radius: 2em;
    padding: 5%;
    text-align: center;
    align-items: center;
    margin: 1% 1%;

    p {
        font-size: 300%;
        margin-left: auto;
        margin-right: auto;
        padding-top: auto;
        padding-bottom: auto;
        // width:40%;
    }

    &:hover {
        background-color:bisque;
    }

}

.card-span {
    background-color: white;
    min-height: 40vh;
    width: 100%;
    border-radius: 2em;
    padding: 1% 0;
    text-align: center;
    align-items: center;
    margin: 1% 1%;

    p {
        font-size: 300%;
        margin-left: auto;
        margin-right: auto;
        padding-top: auto;
        padding-bottom: auto;
        // width:40%;
    }

    &:hover {
        background-color:bisque;
    }

}

.center {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 0;
}

p{
    margin:0;
    padding:0;
}

.next-button {
    background-color: grey;
    position: absolute;
    transform: translate(-100%, -100%);
    //to move anchor point to bottom right
    bottom: 1%;
    right: 1%;
    padding: 2%;
    border-radius: 1em;
    text-align: center;
    color: white;
}

.back-button {
    background-color: grey;
    position: fixed;
    transform: translate(0%, -100%);
    //to move anchor point to bottom left
    bottom: 1%;
    left: 1%;
    padding: 2%;
    border-radius: 1em;
    text-align: center;
    color: white;
}
